<main class="mobile" style="margin: 12vh">
    {{!-- Page title --}}
    <h3>Edit Your Post</h3>
    
    {{!-- Form to edit post --}}
    <form id="editPost">
        <div class="mb-3">
            <label for="editPostTitle" class="form-label">Title: </label>
            <input type="text" class="form-control" id="editPostTitle" value='{{title}}'>
        </div>

        <div class="mb-3">
            <label for="editPostContent" class="form-label">Content: </label>
            <textarea class="form-control" id="editPostContent" rows="6" >{{content}}</textarea>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Update Post</button>
        </div>
    </form>
</main>
{{!-- JS link --}}
<script src="/js/editPost.js"></script>